<div class="container">
    <div id="logo-social-container">

        <div class="logo-container">
            <img class="logo" src="assets/logo/logo.png">
        </div>

        <div class="icon-container">
            <ul class="list-inline icons">
                <li>
                    <a href="https://www.facebook.com/overseasbasketballconnection" target="_blank"
                        rel="noreferrer noopener">
                        <img class="social-icons list-inline-item"
                            src="../../../assets/social-icons/facebook_circle.svg">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/overseasbasketballconnection/" target="_blank"
                        rel="noreferrer noopener">
                        <img class="social-icons list-inline-item"
                            src="../../../assets/social-icons/instagram_circle.svg">
                    </a>
                </li>
                <li>
                    <!-- Change to= to respective email and su= to any subject -->
                    <a onclick="location.href='https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=Overseasbasketballconnection@gmail.comm&su=Hello&shva=1'"
                        target="_blank">
                        <img class="social-icons list-inline-item"
                            src="../../../assets/social-icons/gmail_circle.svg">
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <h2>Early Access Program</h2>

    <div>
        <p>
            The Purpose of this program is to be able to still adapt our starting user base and customer base while
            simultaneously taking the pressure off of delivering a fully featured application at the inception of
            this
            program on the business. The release for the Early Access Program (EAP) is set for the first week of
            april.
            After production release for the EAP of Overseas Basketball Connection Web App, customers that signed up
            will be able to sign in using their supplied access code or login credentials for the first version of
            the
            released software as is at launch. During EAP, users will be asked to give feedback on improvements as
            well
            as participate in marketing events coordinated by the business. This will give us a good understanding
            of
            the trajectory of the path to completion and what we need to consider when furthering the application.
            EAP
            releases will range in versions from v0.0.1 to v0.9.9. Each change will be released on their respective
            schedules.
        </p>

    </div>

    <app-countdown></app-countdown>
    <div class="form-display">
        <h4>Sign Up Now!</h4>
        <p>
            The SAFEST and EASIEST way to get signed to an overseas professional basketball team
        </p>

        <app-sign-up-form></app-sign-up-form>
    </div>

