/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2px;
    background-color: #3796BC;
    background-image: -webkit-gradient(linear, left top, right top, from(#3796BC), to(#302677));
    background-image: -webkit-linear-gradient(left, #3796BC, #302677);
    background-image: -moz-linear-gradient(left, #3796BC, #302677);
    background-image: -ms-linear-gradient(left, #3796BC, #302677);
    background-image: -o-linear-gradient(left, #3796BC, #302677);
    background-image: linear-gradient('to left', #3796BC, #302677);
}